.main{
	background: url('../img/bg-green.jpg');
}

.principal{
    background: rgba(11, 41, 8, 0.68);
}

.fixed-right{
    background: rgba(27, 62, 28, 0.9);
}

.up{
   background: rgba(30, 160, 0, 0.6);
 }

#identificate{
	background: rgba(0,0,0,0.3);
}

.form-control{
	background: rgba(255,255,255,0.3);
	border-radius:0rem;
}

.alerts-container{
    top:100px;
    left:20px;
}

.bg-dark{
    background: #255e27!important;
}

.btn-secondary{
    background: #119e52!important;
}




